
module mypol 1.0;

require {
	type httpd_sys_content_t;
	type httpd_t;
	type admin_home_t;
	class dir write;
	class file getattr;
}

#============= httpd_t ==============
allow httpd_t admin_home_t:file getattr;

#!!!! This avc can be allowed using the boolean 'httpd_unified'
allow httpd_t httpd_sys_content_t:dir write;
